/* General */

body{
    margin: 0px;
    line-height: 1.5rem;
    font-family: "figtree", 'Courier New', Courier, monospace;
}

main{
    flex: 1;
    background-color: #899A96;
}

h2{
    margin: 2.5rem 0;
    text-align: center;
    width: 100%;
    text-decoration: underline;
    font-size: 1.7rem;
}

/* Header */

header{
    display: flex;
    border-bottom: 4px solid #899A96;
    background-color: #202425;
}

header a{
    display: flex;
    align-items: center;
}

nav {   
    background-color: #202425;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

nav ul{
    padding: 0.5rem;
    margin: 0rem;
    list-style-type: none;
}

nav ul li{
    padding: 0rem 0.5rem;
    margin: 0.75rem 0rem;
}

nav ul li a{
    padding: 0.5rem;
    font-size: 1.25rem;
}

nav ul li a:link, nav ul li a:visited{
    color: #eeebe8;
    text-decoration: none;
}

nav ul li a:hover, nav ul li a:focus{
    border-bottom: 1px solid pink;
    color: lightgray;
}

nav ul li a:active{
    border: 1px solid pink;
}

@media(min-width: 26.25em){
    nav ul{
        display: flex;
    }
}

/* Hero Section */

.banner{
    height: 30rem;
    background-image: url("../media/hero_workspace.jpg");
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.background-tint{
    background-color: #817668;
    background-blend-mode: multiply;
}

.banner h1{
    color:#eeebe8;
    margin-bottom: 0rem;
    font-size: 3rem;
}

.banner p{
    color:#eeebe8;
    font-size: 1.3rem;
}

@media(min-width: 56.25em){
    .banner{
        position: relative;
    }
    .banner h1{
        position: absolute;
        top: 10rem;
        left: 11rem;
    }

    .banner p{
        position: absolute;
        top: 13rem;
        left: 11rem;
    }
}

/* Projects */

figure{
    background-color: white;
    margin: 2rem;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid grey;
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: 0 0 8px 5px rgb(161, 161, 161);

}

figure img{
    width: fit-content;
    margin: auto;
}

.projects figcaption {
    font-size: 1.15rem;
    width: fit-content;
    margin: auto;
}

@media(min-width: 26.25em){
    .projects{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .projects figure{
        width: 34%;
    }
}

@media(min-width: 56.25em){
    .projects figure{
        width: 17.8%;
    }
}

/* About Me */

.about-me{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.about-me p{
    padding: 2rem;
    padding-top: 0rem;
    max-width: 750px;
    font-size: 1.15rem;
}

/* footer */

footer{
    background-color: #202425;
    padding: 1rem;
    font-size: 1.1rem;
    color: #eeebe8;
}

@media(min-width:46.875em){
    footer .copyright{
        display: flex;
        justify-content: space-between;
    }
}

#wrapper{
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: auto;
}